
section{
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    align-items: center;
    z-index: 5;
}
div{
    display: flex;
    flex-direction: column;
    padding: auto;
    padding: 50px 80px;
    background-color: rgba(255, 255, 255, 0.636);
    flex-grow: initial;
   
}
input {
    padding: 10px 20px;
    border-radius: 2px;
   scale: 1.5;
    border: 0.6px solid black;
}
button{
     padding: 10px 20px;
     border-radius: 10px;
     scale: 1.5;
     background-color: rgba(0, 132, 255, 0.719);
    border: 0.6px solid black;

}
video{
    position: absolute;
    object-fit: fill;

    display: flex;
    z-index: 2;

}
body{
    display: flex;
}